@font-face {
  font-family: "Stick To It";
  src: url("fonts/Kbsticktoit-vJ3M.ttf") format("truetype")
}

@font-face {
  font-family: "Confetti Stream";
  src: url("fonts/Bubblegum2PersonalUseRegular-3z8nX.ttf") format("truetype")
}
