@font-face {
  font-family: "Stick To It";
  src: url("fonts/Kbsticktoit-vJ3M.ttf") format("truetype")
}

@font-face {
  font-family: "Bubblegum";
  src: url("fonts/Bubblegum2PersonalUseRegular-3z8nX.ttf") format("truetype")
}

@font-face {
  font-family: "Party Confetti";
  src: url("fonts/PartyConfettiRegular-eZOn3.ttf") format("truetype")
}

@font-face {
  font-family: "Dunk Tank";
  src: url("fonts/Kbdunktank-A5ag.ttf") format("truetype")
}
